@import "./scss/vars.scss";
@import "./scss/bar.scss";
@import "./scss/bluetooth.scss";
@import "./scss/brightness.scss";

* {
  all: unset;
}

.window {
  background: $background;
  padding: 10px;
  border: 1px solid $secondary;
}

tooltip > * {
  padding: 0px 4px 4px 4px;
}