$background: #282a36;
$foreground: #f8f8f2;
$secondary: #6272a4;
$danger: #ff5555;
$other: #bd93f9;
$border-radius: 8px;
$box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
$icon-font: "Overpass Nerd Font";
$title-font-size: 20px;
